.root{
// -fx-background-color: #383838;
// -fx-background-color: #282828;
// -fx-background-color: #f7ca88;
    -fx-background-color: #7CAFC2;

}
.label{
    -fx-text-fill: #e8e8e8;
    -fx-font-style: italic;
    -fx-font-size: 20px;
    -fx-font-family: 'Lucida Bright';
}
.button-upgradeButton{
    -fx-background-color:#A1B56C;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 6;
}

.button-degradeButton{
    -fx-background-color:#AB4642;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 6;
}

.button:hover{
    -fx-font-weight: bold;
}


